<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" type="image/jpg" href="public/favicon.png" />

<head>
    <%- include('../partials/head') -%>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') -%>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Top Mascots</h1>
            <p>An example.</p>
            <ul>
                <% mascots.forEach( function(mascot) { %>
                    <li>
                        <%- mascot.name -%> represents the company <%- mascot.organization -%>
                    </li>
                    <% if (mascot.birth_year < 2000) { %>
                        <ul>
                            <li>Born in <%- mascot.birth_year -%>
                            </li>
                        </ul>
                        <% } %>
                            <% } ) %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') -%>
    </footer>

</body>

</html>